In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def scrape_reviews(url):
    reviews = []
    stars = []
    date = []
    country = []

    for i in range(1, 36):
        page = requests.get(f"{url}/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
        soup = BeautifulSoup(page.content, "html.parser")

        reviews += [item.text for item in soup.find_all("div", class_="text_content")]

        for item in soup.find_all("div", class_="rating-10"):
            stars.append(item.span.text if item.span else "None")

        date += [item.text for item in soup.find_all("time")]
        country += [item.span.next_sibling.text.strip(" ()") for item in soup.find_all("h3")]

    return reviews, stars, date, country

# Call the function to scrape data
url = "https://www.airlinequality.com/airline-reviews/british-airways"
reviews, stars, date, country = scrape_reviews(url)

# Ensure the lengths match
min_length = min(len(reviews), len(stars), len(date), len(country))
reviews, stars, date, country = reviews[:min_length], stars[:min_length], date[:min_length], country[:min_length]

# Create a DataFrame
df = pd.DataFrame({"reviews": reviews, "stars": stars, "date": date, "country": country})

# Display a preview of the DataFrame
df

,reviews,stars,date,country
0,Not Verified | I was excited to fly BA as I'd ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,18th January 2024,United Kingdom
1,Not Verified | I just want to warn everyone o...,2,17th January 2024,Germany
2,Not Verified | Paid for business class travell...,1,16th January 2024,United Kingdom
3,✅ Trip Verified | The plane was extremely dir...,1,15th January 2024,Ireland
4,Not Verified | Overall journey wasn’t bad howe...,1,12th January 2024,United Kingdom
...,...,...,...,...
3495,Flew LHR to Muscat return in Club World on a 7...,1,1st September 2014,United Kingdom
3496,Economy class on 28 Aug from London (LHR) to N...,7,1st September 2014,United States
3497,BA15 LHR to SIN B777-300ER First Class: nice a...,9,1st September 2014,United Kingdom
3498,Travelled as a family of four to the Maldives....,10,1st September 2014,United Kingdom
3499,Boston return. Very quick check-in at Heathrow...,10,1st September 2014,United Kingdom

In [4]:
df.shape

(3500, 4)

# Creating CSV format

In [5]:
import os 

cwd = os.getcwd()

df.to_csv(cwd+"/BA_reviews.csv")